[[extend 'layout1.html']]
<h1 class="title">Category Management</h1>

<div class="columns">
<div class="column">
  <div class="card" style="background-color: rgb(125, 183, 216)"  onclick="myFunction()">
    <div class="card-content">
      <p class="title has-text-centered">
        Total Category
      </p>
      <p class="subtitle has-text-centered">
       [[=total]]
      </p>
    </div>

  </div>
</div>

</div>

<hr >
  <div class="columns">
          [[include 'sideMenu.html']]
    </div>

    <div class="column" style="border-left: solid 1px;">
        <div class="container">
            [[=grid.render()]]
        </div>
    </div>
 
   
  </div>
