
<!DOCTYPE html>
<html lang="vi">

<head>
[[include 'bootstrap/head.html']] 



<style>
    #total-orders{
    background-color: #4cb4c7;
}


#orders-delivered{
    background-color: #7abecc;
}

#orders-pending{
    background-color: #7CD1C0;
}

ul,li{
    list-style: none;
}

</style>
</head>

<body>
	[[include 'bootstrap/bs-header.html']]

		<div class="container">
			<br>
			<div class="row justify-content-between">

					<div class="col-md-6 ">
						<div class="card text-center text-white  mb-3" id="total-orders">
							<div class="card-header">
								<h5 class="card-title">Gross Revenue</h5>
							</div>
							<div class="card-body">
									
									<h3 class="card-title">9999</h3>
									
							</div>
						</div>
					</div>

					<div class="col-md-6">
						<div class="card text-center text-white  mb-3" id="orders-delivered">
							<div class="card-header">
								<h5 class="card-title">Week Revenue</h5>
							</div>
							<div class="card-body">
								   
								<h3 class="card-title">9999</h3>
								
							</div>
						</div>
					</div>

			

			</div>
			<br>
			<div class="row">
				<div class="col-lg-4 mb-5">
					<div class="card">

						<div class="card-header">
							<ul class="ps-0">
								<li class=" text-center">
									<h4 class="mb-0">Products</h4>
                             
								</li>
								<li class="float-start">
								

					        <a class="btn btn-sm btn-info" href="[[=URL('product')]]">Edit Products</a>
					  
								</li>
							</ul>
						</div>

						<div class="card-body">
							<table class="table table-sm table-hover">
                             
								<tr>
									<th>#</th>
									<th>Product Code</th>
									<th>Description</th>
					
								</tr>

									<tr>
							[[x = 0]]
                            [[for product in products:]]
							[[x += 1]]
										<td>
											[[=x]]
										</td>
										<td>
											[[=product.product_code ]]
										</td>
                                        <td>
											[[=product.description ]]
										</td>
                                     
                                        
							
									</tr>
									
							[[pass]]	
							</table>
						</div>

				
					</div>

				</div>
				
				<div class="col-lg-4 mb-5">
					
					<div class="card">

                        <div class="card-header">
							<ul class="ps-0">
								<li class=" text-center">
									<h4 class="mb-0">Export Invoices</h4>
								</li>
								<li class="float-start">
								

					       
							<button class="btn btn-success btn-sm btn-block" data-bs-toggle="modal"
							data-bs-target="#InvoiceModal">Create Invoice</button>
						
							<div class="modal" id="InvoiceModal" >
								<div class="modal-dialog">
								  <div class="modal-content">
									<div class="modal-header">
									  <h4 class="modal-title">Create Export Invoice</h4>
									  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
							
									
							   
									<form class="row g-3" action="[[=URL('create_invoice')]]" method="POST">
										
								
										
										<div class="col-md-12">
										  <label class="form-label">Invoice Name</label>
									 
										  <input class="form-control" type="text" name="name" required>
										</div>
										<div class="col-12">
             
											<button type="submit" class="btn btn-primary">Create</button>
										</div>
									</form>
								</li>
							</ul>
						</div>

						<div class="card-body">
							<table class="table table-sm">
								<tr>
									<th>#</th>
									<th>Name</th>
									<th>Date Created</th>
									<th> Details </th>
								</tr>
								[[i = 0]]
								[[for invoice in invoices:]]
								[[i += 1]]
								<tr>
									<td>[[=i]]</td>
									<td>[[=invoice.name]]</td>
									<td>[[=invoice.created_at]]</td>
							
									<td><a class="btn btn-sm btn-info" href="[[=URL('get_invoice',invoice.id)]]">Details</td>
								</tr>
								
								[[pass]]	
							</table>
						</div> 

						
					</div>


				</div>
				<div class="col-lg-4">
					
					<div class="card">

                        <div class="card-header">
							<ul class="ps-0">
								<li class=" text-center">
									<h4 class="mb-0">Import Invoices</h4>
								</li>
								<li class="float-start">
								

					       
							<button class="btn btn-warning  btn-sm btn-block" data-bs-toggle="modal"
							data-bs-target="#InvoiceModal2">Create Invoice</button>
							<div class="modal" id="InvoiceModal2" >
								<div class="modal-dialog">
								  <div class="modal-content">
									<div class="modal-header">
									  <h4 class="modal-title">Create Import Invoice</h4>
									  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
							
									
							   
									<form class="row g-3" action="[[=URL('create_import_invoice')]]" method="POST">
										
								
										
										<div class="col-md-12">
										  <label class="form-label">Invoice Name</label>
									 
										  <input class="form-control" type="text" name="name" required>
										</div>
										<div class="col-12">
             
											<button type="submit" class="btn btn-primary">Create</button>
										</div>
									</form>
								</li>
							</ul>
						</div>

						<div class="card-body">
							<table class="table table-sm">
								<tr>
									<th>#</th>
									<th>Name</th>
									<th>Date Created</th>
									<th> Details </th>
								</tr>
								[[j = 0]]
								[[for invoice in import_invoices:]]
								[[j += 1]]
								<tr>
									<td>[[=j]]</td>
									<td>[[=invoice.name]]</td>
									<td>[[=invoice.created_at]]</td>
							
									<td><a class="btn btn-sm btn-info" href="[[=URL('get-import-invoice',invoice.id)]]">Details</td>
								</tr>
								
								[[pass]]	
							</table>
						</div> 

						
					</div>


				</div>
			
				<footer class="col">
					
					
<hr>
	<div class="container row">
		<div class="textbox text-center col-12">

			<h3>CIT TECH SHOP</h3>
			<p>
				3/2, Xuan Khanh, Ninh Kieu, Can Tho<br>
			
			</p>
		</div>
	
	</div>
</footer>
			
			







</body>

</html>