<div class="column is-2 animate__animated animate__faster" id="side-menu" style="display: none;" >
    <aside class="menu">
        <p class="menu-label has-text-centered">
          Menu
        </p>
        <ul class="menu-list">
          <li><a href="[[=URL('dashboard')]]">Dashboard</a></li>
          <li><a href="[[=URL('category')]]">Categories</a></li>
          <li><a href="[[=URL('index')]]">Products</a></li>
          <li><a href="[[=URL('user')]]">Users</a></li>
          <li><a href="[[=URL('test')]]">Test</a></li>
          <li><a href="[[=URL('invoice')]]">Invoice</a></li>
          <li><a href="[[=URL('invoice_details')]]">Invoice Details</a></li>
   
        </ul>
        
      </aside>