[[extend 'bulma_partials/layout_2.html']]

<div class="section">
    <div class="title">Hóa đơn test</div>

    <div>
        <!-- <form action="[[URL('add)')]]" method="post">
            <lable>Name:</lable>
            <div class="field">
                <input class="input" type="text" name="name"/>

                <input class="input" type="text" name="name2"/>

            </div>v
            <input type="submit" class="button" value="Submit" />
        </form> -->
        <div>
            <lable>Name:</lable>
            <div class="field">
                <input class="input product" type="text" />

                <i class="fas fa-plus add"></i>
            </div>
            <input type="submit" class="button" id="submit" value="Submit" />
        </div>
    </div>

</div>

<style>
/* .field{
    background-color: blue;
} */
.add{
    margin-top: 15px;
    padding: 6px;
    color: #fff;
    background-color: #0074d9;
    border-radius: 50%;
    cursor: pointer;
}
</style>

<script>
    var submitBtn = document.getElementById('submit');
    var addRowBtn = document.querySelector('.add');
    
    addRowBtn.addEventListener('click', ()=>{
        var container = document.querySelector('.field');
        var newInput = document.createElement('input');
        newInput.type = 'text';
        newInput.classList.add('input');
        newInput.classList.add('product');
        container.insertBefore(newInput, container.lastElementChild);
    });

    submitBtn.addEventListener('click', () => {
        var products = document.querySelectorAll('.product');

        var data = [];
        for (let i = 0; i < products.length; i++) {
            data.push(products[i].value);
            products[i].value = "";
        }
        data = JSON.stringify(data);
        console.log(data);
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/_scaffold/test');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(data);
    });
</script>